
.main{
    background-color: rgb(172, 196, 197);
}

.soundDiv {
    display: grid;
    grid-template-columns: auto auto;
    width: 50%;
    margin: auto;
   
}

.playBtn, .stopBtn {
    background-color: rgb(255, 255, 255);
    padding: 50px;
    font-size: large;
    font-weight: lighter;
    font-family: Impact;
   border-radius: 20%;
   border-width: 5px;
}

.playBtnDiv, .stopBtnDiv {
    padding: 50px;
    width: 50%;
    margin: auto;
    text-align: center;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: black;
    -webkit-text-fill-color: transparent;
    font-family: 'Fredoka One';
  font-size: 20px;
}

.playImg, .stopImg {
    max-width: 80%;
    height: auto
}